<div class="row">

  <div class="navbar navbar-fixed-top bug-fix" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <h1 id="navbar-title">Story Swap: Authentic and real stories</h1>
        </a>         
      </div>
      
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">

          <li><a href="/videos">watch</a></li>

          <li><a href="/submit">submit a story</a></li>

          <li><a href="/about">about</a></li>  

        </ul>
      </div>
    </div>
  </div>

</div>
