<div class="row">

  <div class="navbar navbar-fixed-top bug-fix" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand pull-left" href="/">
          <img src="/images/storyswap_logo.png">
        </a>         
      </div>
      
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">

          <li><a href="/videos">watch</a></li>

          <li><a href="/submit">submit a story</a></li>

          <!-- <li><a href="/about">about</a></li> -->

          <li>
            {{#if user.google.email}}
              <a href="/logout">logout</a>
            {{else}}
              {{#if user.local.email}}
                <a href="/logout">logout</a>
              {{else}}
                <a href="/login">login</a>
              {{/if}}
            {{/if}}

          </li>
 

        </ul>
      </div>
    </div>
  </div>

</div>
