
{{> navbar}}

<div class="narrow-page-container">

  <div class="about-page">
  
    <h1>The tree of global connection</h1>
    <p>We should pay attention to what is happening elsewhere in the world, and particularly in countries that are socioeconomically and culturally different from our own. Only by reaching out to people who are different and by trying to understand conflicting points of view, will we be able to foster a community where people can interact and mutually understand one another.</p>

    <p>Initiatives to increase communication between people holding different political opinions have recently unfolded, for example in the district of Washington. A group from a highly liberal county <a href="https://theevergrey.com/took-10-hour-road-trip-cross-political-divide-heres-happened/">drove down to the most Republican county of the State</a> to have a face to face conversation with the people who voted exactly opposite from them.</p>

    <p>However, face-to-face interaction is not always possible, for e.g. geographical reasons, or because our circles of friends are people who share similar views and daily experiences. How might we nudge people to reach out to others, in a way that encourages asking questions and listening? How might we engage all parties, so that rather than passively reading news about an event at a distant location, people are reaching out to those locations and asking questions?</p>

    <p>We propose a new kind of community—one where community members answer any question that someone else has asked previously, and then contribute a new question. Responses are submitted as videos, because, as we just stated, videos are human and induce empathy. Over time, the sequence of videos constitute a tree, spanning responses from all around the world. This is the tree of global connection.
    </p>

  </div>

</div>

