
<script src="/javascripts/landing.js"></script>

<!--[if lt IE 9]>
<script>
	document.createElement('video');
</script>
<![endif]-->

<video playsinline autoplay muted loop poster="../public/images/mit.png" id="bgvid" onclick="this.paused ? this.play() : this.pause();">
  <source src="https://player.vimeo.com/video/149521609?api=1&player_id=149521607_1450561602439&autopause=0&autoplay=1&badge=0&loop=1&portrait=0&title=0&origin=" type="video/mp4">
</video>


<h1 id="title">WE<span>ARE</span>MIT</h1>


<button id="vidpause" onclick="pause()">||</button>

<a id="videos-link" href="/videos">  EXPLORE  </a>
