
{{> navbar}}

<div class="narrow-page-container">

  <h2>Submit your video</h2>
  <hr>
  <form class="form-horizontal" method="post" action="/submit/video">

    <div class="form-group">
      <label for="speakerName" class="col-sm-2 control-label">Name or nickname</label>
      <div class="col-sm-10">
        <input type="text" name="speakerName" class="form-control" id="speakerName" placeholder="Your name" required>
      </div>
    </div>

    <div class="form-group">
      <label for="speakerLocation" class="col-sm-2 control-label">Location</label>
      <div class="col-sm-10">
        <input type="text" name="speakerLocation" class="form-control" id="speakerLocation" placeholder="Where are you from?" required>
      </div>
    </div>  

    <div class="form-group">
      <label for="youtubeLink" class="col-sm-2 control-label">YouTube Link</label>
      <div class="col-sm-10">
        <input type="text" name="youtubeLink" class="form-control" id="youtubeLink" placeholder="Link to your YouTube video where you share your story" required>
      </div>
    </div>

    <div class="form-group">
      <label for="storytitle" class="col-sm-2 control-label">Story Title</label>
      <div class="col-sm-10">
        <input type="text" name="storytitle" class="form-control" id="storytitle" placeholder="What do you want to call your story?" required>
      </div>
    </div>


    <div class="form-group">
      <label for="referredBy" class="col-sm-2 control-label">Referred by</label>
      <div class="col-sm-10">
        <input type="text" name="referredBy" class="form-control" id="referredBy" placeholder="Did anyone refer you?">
      </div>
    </div>

      <!-- </div> -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <br>
          <i>Terms and conditions</i>. By submitting a response, you give The Story Swap full rights to display your video on our website and use your video in marketing materials.
        </div>
      </div>


      <div class="form-group">
        
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label><input type="checkbox" name="termsAgreement" value="" required>I agree to the terms and conditions</label>
          </div>
        
        </div>
      </div>        


    <!-- </div> -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>    

  </div>

