
{{> navbar}}


<div class="problem-pitch">

	
	<div id="problem-pitch-text">


			<h1>Story Swap</h1>
			
			<h2>An online community where you can be authentic and real</h2>

    <a href="/submit" class="btn btn-default"><span class="fa fa-user"></span> Join the video chain</a>
		
	</div>

</div>


<div class="container">
	<div class="row text-center">
		<h2>Tell us a story about what makes you who you are</h2>
	</div>



	<div class="row">	

		{{#each videos}}
			
			<div class="col-md-4 col-sm-6 video-panel-container">
				<div class="thumbnail video-panel">
					
					<a href="/singlevideo/{{this._id}}">
						{{#embedYoutubeImg}}{{this}}{{/embedYoutubeImg}}
					</a>
					
					<div class="video-panel-caption">
						<p>{{this.speaker}} from {{this.speakerLocation}}</p>
						
					</div>
			</div>
		</div>
		{{/each}}
	
	</div> 

</div>

<div class="footer">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<p id="footer-text">
				<br>
				Story Swap
				<br>
			</p>
		</div>
	</div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
<script src="/javascripts/videos.js"></script>