body {
  padding-top: 50px;
  /*background-color: rgb(238, 238, 238)!important;*/
}

a {
  color: #00B7FF;
}

p {
  font-family: 'Muli', sans-serif;
}




/* Page widths */

.page-container {
  width: 70%;
  margin: 0 auto;
}

/* Used for About page, Single video*/
.narrow-page-container {
  width: 50%;
  margin: 0 auto;
}


/*  NAVBAR  */


.navbar {
  background: #fff;
}



.navbar-nav > li > a {
  
  font-family: 'Karla', sans-serif;
  text-shadow: none!important;
  font-size: 16px;
  color: #6ee5f0;
}

.navbar-brand img {
  height: 400%;;
  width: auto;
  /*background: white;*/
  border-radius: 10px;
  margin-top: -20px;
}





/* HOME PAGE  */

.about-pitch {
  padding: 1em 6em;
  position: relative;
  background-color: #f1f1f1;
}






/* VIDEOS - PANELS */

.video-panel img:hover {
  opacity: 0.7;
}

/* size iframe according to parent*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-panel-caption {
  padding: 1em;
  color: gray;
}


/* VIDEO PAGE*/

#videos-container {
  margin-top: 5em;
}






/* FOOTER */
 .footer{
  height: 150px;
  background-color: rgba(45,45,45,1);
  color: white;
  text-align: center;
 }




/* ABOUT page */
.about-page {
  margin-top: 2em;
  padding: 2em;
  background-color: white;  
}


.about-page h1 {
  text-align: center;
}

.about-page hr {
  height: 3px;
}


