body {
  padding-top: 50px;
  background-color: rgba(183,184,182,0) !important;
}

a {
  color: #00B7FF;
}

p {
  /*font-family: 'Muli', sans-serif;*/
}

h2, 
h3 {
  font-family: 'Karla', sans-serif;
}

/* Page widths */

.page-container {
  width: 70%;
  margin: 0 auto;
}

/* Used for About page, Single video*/
.narrow-page-container {
  width: 50%;
  margin: 0 auto;
}


/*  NAVBAR  */
h1#navbar-title {
  color: white;

  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  letter-spacing: .04em;
  margin-top: -.12em;
  padding:0;
}


.navbar {
  background:rgb(45,45,45);
}



.navbar-nav > li > a {
  color: white;
  font-family: 'Karla', sans-serif;
  text-shadow: none!important;
  font-size: 16px;
}



.navbar-brand img {
  height: 100%;;
  width: auto;
}

/* Videos page*/

.problem-pitch {
  padding: 1em 6em;
  margin-bottom: 3em;

  

/*  background-image: url('../images/map2.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  height: 450px;

  position: relative;
  /*-webkit-filter: contrast(110%) brightness(60%) saturate(130%);*/
  /*filter: contrast(110%) brightness(60%) saturate(130%);*/
}





#problem-pitch-text {
  position: absolute;
  margin-left: 3%;
  top: 12%;
  z-index: 1;
  
}

#caption-site {
  font-family: 'Gloria Hallelujah', cursive!important;
  color: white;
}

#caption-site h1 {
  font-size: 90pt;
  margin-bottom: 0.3em;

}

#caption-site h2 {
  font-size: 40pt;
}


#problem-pitch-text .btn-custom {
  padding: 0.5em 1em;
  background-color: white;
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
  font-size: 16pt;
  color: #B3C100;;

}


#problem-pitch-text .btn-custom:hover {
  background-color: #B3C100;
  color: white;
}

#problem-pitch-text .btn p {
  margin-bottom: 0;
}

.thumbnail {
  border: none!important;
  border-radius: 0!important;
  
 
}

.video-panel-container {
  padding-left: 30px!important;
  padding-right: 30px!important;
}

.video-panel {
  margin-bottom: 3em!important;
  padding: 0!important;
  /*border-bottom: 1px solid!important;*/
  /*border-color: red!important;*/
}

.video-panel h3 {
  margin-top: 0;
  font-size: 14pt;
}

.video-panel img:hover {
  opacity: 0.7;
}

/* size iframe according to parent*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}



#problem-pitch-overlay {
  position: absolute;
  
  left: 0;
  top: 0;
  overflow: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
}


/** landng page */


video#bgvid { 
  width: 125%;

}


video#bgvid {
    transition: 1s opacity;
}
.stopfade { opacity: .5; }

video { 
  display: block; 
}



span {
  color: white;
  padding: 1.2%;
}

button#vidpause {
    background-color: Transparent;
    border: none;
    overflow: hidden;
    outline:none;
    font-family: 'Roboto';
    font-weight: 900;
    color: white;
    font-size: 2em;
    position: absolute;
    bottom:2%;
    right:2%;
}

a#videos-link {
  color: white;
  opacity: .8;
  font-size: 2em;
  text-align: center;
  display:table;
  margin: auto;
  font-family: 'Roboto';
  margin-top: 4%;
  border: 2px solid white ;
  padding-right: .3em;
  padding-left: .3em;
  padding-top: .1em;
  padding-bottom: .1em;
}

a#videos-link:hover{
    text-decoration: none;
    background: rgba(50,50,50,0.5);

}

/*.content:before {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}*/

/*.filter {
  position: relative;
  -webkit-filter: contrast(110%) brightness(110%) saturate(130%);
  filter: contrast(110%) brightness(110%) saturate(130%);
}
.filter::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: screen;
  background: rgba(243, 106, 188, 0.5);
}
*/
@media (min-width: 1200px) {
  .thumbnail.video-panel {
      min-height: 368px!important;
  }
}


/*@media (min-width: 992px) and (max-width: 1200px){
  .thumbnail.video-panel {
      min-height: 317px!important;
  }
}*/



/*FOOTER*/
 .footer{
  width:100%;
  height:150px;
  background-color:rgba(45,45,45,1);
 }


/* ABOUT page */
.about-page {
  margin-top: 2em;
  padding: 2em;
  /*background-color: rgba(51, 218, 162, 0.26);  */
}

.about-page h2 {
  text-align: center;
}

.about-page hr {
  /*background-color: white;*/
  height: 3px;
}

.narrow-hr {
  width: 5em;
  height: 10px;
  background-color: rgb(159,1,17);
}


